html
  head
    title= title
  body
    form(method='GET' action='/')
      label(for='vehicle_key') ID pojazdu: 
      input#vehicle_key.form-control(type='text', placeholder='VIN lub JOB ID' name='vehicle_key')
