
doctype html

html
  head
    block head
      title 'OpelStatuses'
      meta(charset='UTF-8')
      link(rel="icon", type="image/png", sizes="32x32", href="http://dixi-car.pl/img/favicon/favicon-32x32.png")
      link(rel="icon", type="image/png", sizes="16x16", href="http://dixi-car.pl/img/favicon/favicon-16x16.png")
  body
    block body